<% if (typeof spells != "undefined") { %>
    <% spells.forEach( function(spell) { %>
        <% if (spell.spe_needs_preparing == 0 || spell.spe_level == 0) { %> 
            <div class="bg-white p-1 m-1 rounded-lg">
        <% } else if (spell.spe_needs_preparing == 1 && spell.spe_prepared == 1) { %> 
            <div class="bg-gray-400 p-1 m-1 rounded-lg">
        <% } else { %>
            <div class="bg-gray-600 p-1 m-1 rounded-lg">
        <% } %> 
            <input class="w-10 border text-center" type="text" value="<%= spell.spe_level %>" id="spe_level" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <input class="w-40 border text-center" type="text" value="<%= spell.spe_name %>" id="spe_name" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <input class="w-24 border text-center" type="text" value="<%= spell.spe_casting_time %>" id="spe_casting_time" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <input class="w-20 border text-center" type="text" value="<%= spell.spe_range %>" id="spe_range" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <input class="w-24 border text-center" type="text" value="<%= spell.spe_duration %>" id="spe_duration" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <input class="w-20 border text-center" type="text" value="<%= spell.spe_damage %>" id="spe_damage" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>">
            <% if (spell.spe_needs_preparing == 1 && spell.spe_level != 0) { %>
                <label class="mr-3 ml-2">
                    <% if (spell.spe_prepared == 1) { %>
                        <input class="border mx-1 hidden peer" type="checkbox" id="spe_prepared" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>" checked>
                    <% } else { %>
                        <input class="border mx-1 hidden peer" type="checkbox" id="spe_prepared" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>">
                    <% } %>
                    <span class="pl-4 bg-[url('/CheckboxEmpty.png')] bg-contain bg-no-repeat bg-left peer-checked:bg-[url('/CheckboxCrossed.png')]"></span>
                </label>
            <% } else { %>
                <label class="mr-2.5 ml-2">
                    &#8734
                </label>
            <% } %>
            <button class="hover:opacity-80 font-bold" onclick="show_hide_element('spell_edit_' + this.value, 'block', this, '')" value="<%= spell.spe_id %>">&#8897</button>
            <div id="spell_edit_<%= spell.spe_id %>" class="hidden my-2">
                <div class="grid justify-items-start">
                    <% if (spell.spe_level != 0) { %> 
                        <label>Benötigt Vorbereitung</label>
                        <% if (spell.spe_needs_preparing == 1) { %>
                            <input class="border mx-1" type="checkbox" id="spe_needs_preparing" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>" checked>
                        <% } else { %>
                            <input class="border mx-1" type="checkbox" id="spe_needs_preparing" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>">
                        <% } %><br>
                    <% } %> 
                    <label class="">Zauberkomponenten</label>
                    <input class="border mx-1" type="text" value="<%= spell.spe_casting_components %>" id="spe_casting_components" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>"><br>
                    <label class="">Materialkomponenten</label>
                    <input class="border mx-1" type="text" value="<%= spell.spe_material_components %>" id="spe_material_components" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>"><br>
                </div>
                <label class="">Beschreibung</label>
                <textarea class="w-full h-40 resize-none border my-1 p-1" id="spe_description" onchange="change_spell_attribute(this)" data-spell="<%= spell.spe_id %>"><%= spell.spe_description %></textarea>
                <button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="delete_spell(this.value)" value="<%= spell.spe_id %>">Zauber löschen</button>
            </div>
        </div>
    <% }); %>
<% } %>
<button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="add_spell()">Zauber hinzufügen</button>