<% if (typeof spells != "undefined") { %>
    <% spells.forEach( function(spell) { %>
        <% if (spell.spe_needs_preparing == 0 || spell.spe_level == 0) { %> 
            <div class="bg-white p-1 m-1 rounded-lg">
        <% } else if (spell.spe_needs_preparing == 1 && spell.spe_prepared == 1) { %> 
            <div class="bg-gray-400 p-1 m-1 rounded-lg">
        <% } else { %>
            <div class="bg-gray-600 p-1 m-1 rounded-lg">
        <% } %> 
            <input class="w-10 bg-inherit text-center" type="text" value="<%= spell.spe_level %>" disabled>
            <input class="w-40 bg-inherit text-center" type="text" value="<%= spell.spe_name %>" disabled>
            <input class="w-24 bg-inherit text-center" type="text" value="<%= spell.spe_casting_time %>" disabled>
            <input class="w-20 bg-inherit text-center" type="text" value="<%= spell.spe_range %>" disabled>
            <input class="w-24 bg-inherit text-center" type="text" value="<%= spell.spe_duration %>" disabled>
            <input class="w-20 bg-inherit text-center" type="text" value="<%= spell.spe_damage %>" disabled>
            <% if (spell.spe_needs_preparing == 1 && spell.spe_level != 0) { %>
                <label class="mr-3 ml-2">
                    <% if (spell.spe_prepared == 1) { %>
                        <input class="border mx-1 hidden peer" type="checkbox" name="spe_prepared" id="spe_prepared<%= spell.spe_id %>" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>" checked>
                    <% } else { %>
                        <input class="border mx-1 hidden peer" type="checkbox" name="spe_prepared" id="spe_prepared<%= spell.spe_id %>" onchange="change_spell_attribute(this, 'bool')" data-spell="<%= spell.spe_id %>">
                    <% } %>
                    <span class="pl-4 bg-[url('/ttrpg-area/CheckboxEmpty.png')] bg-contain bg-no-repeat bg-left peer-checked:bg-[url('/ttrpg-area/CheckboxCrossed.png')]"></span>
                </label>
            <% } else { %>
                <label class="mr-2.5 ml-2">
                    &#8734
                </label>
            <% } %>
            <button class="hover:opacity-80 font-bold" onclick="show_hide_element('spell_edit_' + this.value, 'block', this, '')" value="<%= spell.spe_id %>">&#8897</button>
            <div id="spell_edit_<%= spell.spe_id %>" class="hidden my-2">
                <h1 class="font-bold text-xl">Zauber bearbeiten:</h1>
                <div class="grid grid-cols-2 w-fit gap-1 justify-items-start">
                    <label class="col-span-1">Grad</label>
                    <input class="w-10 border" type="text" value="<%= spell.spe_level %>" name="spe_level" id="spe_level<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <% if (spell.spe_level != 0) { %> 
                        <label class="col-span-1">Benötigt Vorbereitung</label>
                        <% if (spell.spe_needs_preparing == 1) { %>
                            <input class="border col-span-1" type="checkbox" name="spe_needs_preparing" id="spe_needs_preparing<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>" checked>
                        <% } else { %>
                            <input class="border col-span-1" type="checkbox" name="spe_needs_preparing" id="spe_needs_preparing<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                        <% } %>
                    <% } else { %>
                        <% if (spell.spe_needs_preparing == 1) { %>
                            <input class="border hidden col-span-1" type="checkbox" name="spe_needs_preparing" id="spe_needs_preparing<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>" checked>
                        <% } else { %>
                            <input class="border hidden col-span-1" type="checkbox" name="spe_needs_preparing" id="spe_needs_preparing<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                        <% } %>
                    <% } %> 
                    <label class="col-span-1">Zauber</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_name %>" name="spe_name" id="spe_name<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <label class="col-span-1">Zeitaufwand</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_casting_time %>" name="spe_casting_time" id="spe_casting_time<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <label class="col-span-1">Reichweite</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_range %>" name="spe_range" id="spe_range<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <label class="col-span-1">Dauer</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_duration %>" name="spe_duration" id="spe_duration<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <label class="col-span-1">Schaden</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_damage %>" name="spe_damage" id="spe_damage<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                    <label class="col-span-1">Zauberkomponenten</label>
                    <select class="w-40 border col-span-1" name="spe_casting_components" id="spe_casting_components<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                        <option>--</option>
                        <option <% if (spell.casting_components == 'V') { %> selected <% } %>>V</option>
                        <option <% if (spell.casting_components == 'G') { %> selected <% } %>>G</option>
                        <option <% if (spell.casting_components == 'V,G') { %> selected <% } %>>V,G</option>
                    </select>
                    <label class="col-span-1">Materialkomponenten</label>
                    <input class="w-40 border col-span-1" type="text" value="<%= spell.spe_material_components %>" name="spe_material_components" id="spe_material_components<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>">
                </div>
                <label>Beschreibung</label>
                <textarea class="w-full h-40 resize-none border my-1 p-1" name="spe_description" id="spe_description<%= spell.spe_id %>" data-spell="<%= spell.spe_id %>"><%= spell.spe_description %></textarea>
                <button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="save_spell(this.value)" value="<%= spell.spe_id %>">Zauber speichern</button>
                <button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="delete_spell(this.value)" value="<%= spell.spe_id %>">Zauber löschen</button>
            </div>
        </div>
    <% }); %>
<% } %>
<button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="add_spell()">Zauber hinzufügen</button>