<% if (typeof weapons != "undefined") { %>
    <% weapons.forEach( function(weapon) { %>
        <div class="p-1 m-1 rounded-lg bg-gray-400">
            <input class="w-40 text-center bg-inherit" type="text" value="<%= weapon.wea_name %>" disabled>
            <input class="w-20 text-center bg-inherit" type="text" value="<%= weapon.wea_range %>" disabled>
            <% let attr_mod %> 
            <% if (weapon.wea_attribute == 'Stärke') { %>
                <% attr_mod = Math.trunc((weapon.cha_strength - 10) / 2) %>
            <% } else if (weapon.wea_attribute == 'Geschicklichkeit') { %>
                <% attr_mod = Math.trunc((weapon.cha_dexterity - 10) / 2) %>
            <% } else if (weapon.wea_attribute == 'Konstitution') { %> 
                <% attr_mod = Math.trunc((weapon.cha_constitution - 10) / 2) %>
            <% } else if (weapon.wea_attribute == 'Intelligenz') { %> 
                <% attr_mod = Math.trunc((weapon.cha_intelligence - 10) / 2) %>
            <% } else if (weapon.wea_attribute == 'Weisheit') { %> 
                <% attr_mod = Math.trunc((weapon.cha_wisdom - 10) / 2) %>
            <% } else if (weapon.wea_attribute == 'Charisma') { %> 
                <% attr_mod = Math.trunc((weapon.cha_charism - 10) / 2) %>
            <% } %>
            <% if (weapon.wea_proficiency == 1) { %>
                <% let prof_bonus = 2;
                if (weapon.cha_xp > 6500) {
                    prof_bonus = 3;
                }
                if (weapon.cha_xp > 48000) {
                    prof_bonus = 4;
                }
                if (weapon.cha_xp > 120000) {
                    prof_bonus = 5;
                }
                if (weapon.cha_xp > 225000) {
                    prof_bonus = 6;
                } %> 
                <input class="w-20 text-center bg-inherit" type="text" value="<%= prof_bonus +  attr_mod + weapon.wea_bonus %>" disabled>
            <% } else { %> 
                <input class="w-20 text-center bg-inherit" type="text" value="<%= attr_mod + weapon.wea_bonus %>" disabled>
            <% } %> 
            <input class="w-16 text-center bg-inherit" type="text" value="<%= weapon.wea_damage %>" disabled>
            <span>+</span> 
            <input class="w-10 text-center bg-inherit" type="text" value="<%= attr_mod + weapon.wea_bonus %>" disabled>
            <button class="hover:opacity-80 font-bold" onclick="show_hide_element('weapon_edit_' + this.value, 'block', this, '')" value="<%= weapon.wea_id %>">&#8897</button>
            <div id="weapon_edit_<%= weapon.wea_id %>" class="hidden my-2">
                <div class="grid grid-cols-2 w-fit gap-1 justify-items-start">
                    <label class="text-white col-span-1">Waffe</label>
                    <input class="border col-span-1" type="text" value="<%= weapon.wea_name %>" name="wea_name" id="wea_name<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>">
                    <label class="text-white col-span-1">Reichweite</label>
                    <input class="border col-span-1" type="text" value="<%= weapon.wea_range %>" name="wea_range" id="wea_range<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>">
                    <label class="text-white col-span-1">Schaden</label>
                    <input class="border col-span-1" type="text" value="<%= weapon.wea_damage %>" name="wea_damage" id="wea_damage<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>">
                    <label class="text-white col-span-1">Waffenbonus</label>
                    <input class="border col-span-1" type="text" value="<%= weapon.wea_bonus %>" name="wea_bonus" id="wea_bonus<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>">
                    <label class="text-white col-span-1">Geübt im Umgang</label>
                    <% if (weapon.wea_proficiency == 1) { %>
                        <input class="border col-span-1" type="checkbox" name="wea_proficiency" id="wea_proficiency<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>" checked>
                    <% } else { %>
                        <input class="border col-span-1" type="checkbox" name="wea_proficiency" id="wea_proficiency<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>">
                    <% } %>
                    <label class="text-white col-span-1">Waffen-Attribut</label>
                    <select class="border col-span-1" type="text" value="<%= weapon.wea_attribute %>" name="wea_attribute" id="wea_attribute<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>"><br>
                        <option <% if (weapon.wea_attribute == 'Stärke') { %> selected <% } %>>Stärke</option>
                        <option <% if (weapon.wea_attribute == 'Geschicklichkeit') { %> selected <% } %>>Geschicklichkeit</option>
                        <option <% if (weapon.wea_attribute == 'Konstitution') { %> selected <% } %>>Konstitution</option>
                        <option <% if (weapon.wea_attribute == 'Intelligenz') { %> selected <% } %>>Intelligenz</option>
                        <option <% if (weapon.wea_attribute == 'Weisheit') { %> selected <% } %>>Weisheit</option>
                        <option <% if (weapon.wea_attribute == 'Charisma') { %> selected <% } %>>Charisma</option>
                    </select>
                </div>
                <label class="text-white col-span-1">Eigenschaften</label>
                <textarea class="w-full h-40 resize-none border my-1 p-1" name="wea_properties" id="wea_properties<%= weapon.wea_id %>" data-weapon="<%= weapon.wea_id %>"><%= weapon.wea_properties %></textarea>
                <button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="save_weapon(this.value)" value="<%= weapon.wea_id %>">Waffe speichern</button>
                <button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="delete_weapon(this.value)" value="<%= weapon.wea_id %>">Waffe löschen</button>
            </div>
        </div>
    <% }); %>
<% } %>
<button class="bg-red-600 hover:bg-red-800 rounded-lg p-1 m-2" onclick="add_weapon()">Waffe hinzufügen</button>